.event-time-card {
  text-align: center;
  //   padding: 5px;
  background-color: #fff;
  border: 1px solid $color-gray-light-2;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba($color-black, 0.1);
  overflow: hidden;

  &__heading {
    width: 100%;
    padding: 0.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-white;
    background-color: $color-primary;
  }

  &__box {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 80%;
    margin: 0.8rem auto;
    padding: 0.7rem 0.2rem;
    background-color: $color-gray-light-2;
    border-radius: 3px;

    &--time {
      color: $color-gray-dark-3;
    }

    &--program {
      color: $color-primary;
    }
  }
}
