.image-box {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    height: 400px;
  }
  @include media-breakpoint-down(sm) {
    height: 300px;
  }
}

.header-box {
  position: absolute;
  vertical-align: bottom;
  max-width: 45%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px;
  margin: 10% 5% 0% 2%;

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    margin: 0;
    position: relative;
  }
}
