.testimonial {
  width: 75%;
  margin: 0 auto;
  padding: 1.2rem;
  padding-left: 4rem;
  // font-size: $default-font-size;
  box-shadow: 0 4px 1rem rgba($color-black, 0.1);
  border-left: 1.5rem solid;
  border-radius: 3px;
  border-image-source: linear-gradient(
    to bottom,
    rgba($color-secondary, 1),
    rgba($color-primary, 1)
  );
  border-image-slice: 1;
  background-color: rgba($color-gray-light-2, 0.8);
  background-image: url("../images/quotes-small.png");
  background-size: 144px 100px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  // font-size: $default-font-size;

  @include respond(tab-port) {
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
  }

  &__text {
    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }
  &__author {
    width: 100%;
    text-align: right;
  }
}
