.upcoming-event-card-body {
  background-color: $secondary;
  border-radius: 4px;
  position: relative;
  min-height: 120px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.upcoming-event-card-date {
  background-color: $secondary;
  color: white;
  text-align: center;

  h1 {
    @include media-breakpoint-down(md) {
      font-size: 18pt;
    }
    font-size: 26pt;
  }

  h2 {
    @include media-breakpoint-down(md) {
      font-size: 12pt;
    }
    font-size: 18pt;
  }
}

.upcoming-event-card-description {
  padding: 0.4rem 1rem;
  background-color: #efefef;
  height: 100%;
  overflow: hidden;
  h1 {
    font-size: 18pt;
    margin-bottom: 2px;
  }

  h2 {
    font-size: 14pt;
    margin-bottom: 2px;
  }

  p {
    font-size: 11pt;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.upcoming-event-card-image {
  display: none;
  @media screen and (min-width: $break-small) {
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    position: relative;
    overflow: hidden;
  }
}

// .upcoming-event-card-image img {
//   // margin: -50% -50%;
//   top: 50%;
//   right: 50%;
//   transform: translate(50%, -50%);
//   height: "auto";
//   width: 100%;
//   position: absolute;
// }
